/*Genutzte Guidelines: https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Code_guidelines/CSS */
/* Formatierung mit Hilfe von https://csscomb.herokuapp.com/online */

/* Oft genutzte Farben werden hier als Variablen gesetzt */
:root {
  --akzentOrange: #fea82f;
  --titelBlau: #71a5de;
  --iconsBlau: #83b0e1;
  --balkenHellblau: #aecbeb;
  --hintergrundWeiss: #f8f9fb;
  --schriftGrau: #262829;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

button {
  font-family: Calibri, sans-serif;
  border: none;
}

body {
  font-family: Calibri, sans-serif;
  margin: 0;
  color: var(--schriftGrau);
}

main {
  display: block;
  color: var(--schriftGrau);
}

h1 {
  margin: 0;
  color: var(--schriftGrau);
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color: white;
}

.pro-con li {
  margin: 30px 0;
}

.header {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 8%;
  background: linear-gradient(0deg, rgba(2,0,36,0) 0%, rgba(248,249,251,1) 70%);
  justify-content: center;
  align-items: flex-end;
}

.header-inside {
  display: flex;
  width: 80%;
  height: 70%;
  border-radius: 20px;
  background: white;
  box-shadow: 2px 0 5px 2px rgba(0,0,0,.05);
  justify-content: stretch;
}

.header-left {
  display: flex;
  width: auto;
  padding-left: 10px;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.nav-list {
  display: flex;
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: stretch;
}

.nav-item {
  display: inline;
  text-align: center;
  vertical-align: center;
  color: #222;
}

.nav-item a {
  color: var(--schriftGrau);
}

.nav-item-mobile a {
  color: var(--schriftGrau);
}

.nav-item#nav-item-uebung a {
  border-radius: 0 20px 20px 0;
}

.nav-link {
  font-size: 1.2em;
  display: flex;
  height: 100%;
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.nav-item a:hover {
  color: white;
  background: var(--akzentOrange);
}

.burger {
  z-index: 100;
  display: none;
  width: 10vh;
  height: 100%;
  color: white;
  background: var(--akzentOrange);
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}

.bars {
  text-align: center;
}

.burger:hover {
  color: var(--akzentOrange);
  background: var(--hintergrundWeiss);
}

.header-right {
  display: none;
  flex-direction: row;
  flex-basis: 50%;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.burger:hover .nav-popup {
  display: block;
}

.nav-popup {
  position: fixed;
  z-index: 99;
  top: 8%;
  right: 0;
  display: none;
  width: 200px;
  height: auto;
  border-radius: 0 0 0 20px;
  background: var(--hintergrundWeiss);
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,.05);
}

.mobile-nav {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: stretch;
}

.nav-item-mobile {
  display: inline;
  text-align: left;
}

.nav-link-mobile {
  font-size: 1.2em;
  display: flex;
  height: 100%;
  padding: 20px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: left;
  align-items: center;
}

.nav-item-mobile#mobile-nav-item-uebung a {
  border-radius: 0 0 0 20px;
}

.nav-item-mobile a:active {
  color: white;
  background: var(--iconsBlau);
}

@media (hover: hover) {
  .nav-item-mobile a:hover {
    color: white;
    background: var(--iconsBlau);
  }
}

.show {
  display: block;
  transform-origin: top center;
  animation: growDown 300ms ease-in-out forwards;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.title-background {
  position: relative;
  z-index: -2;
  display: flex;
  flex-direction: column;
  height: 120vh;
  background-color: var(--hintergrundWeiss);
  justify-content: center;
  align-items: center;
}

.title-video {
  position: fixed;
  z-index: -3;
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.title-gradient {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 500px;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(248,249,251,1) 75%);
  align-self: flex-end;
  justify-content: center;
}

.title {
  position: fixed;
  z-index: -1;
  top: 30%;
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
  height: auto;
  filter: drop-shadow(0px 0px 20px rgba(255,255,255,.8));
}

.logo-text {
  font-size: .8em;
  margin-top: 20px;
  padding: 0 20px 0 20px;
  text-align: center;
  color: var(--schriftGrau);
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 4px rgba(0, 0 ,0, .1);
}

.kapitel-container,
.funktion-container {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 0 20px 100px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.kapitel-titel {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 50px;
  background-color: var(--titelBlau);
  box-shadow: 2px 2px 15px rgb(0,0,0,.05);
  justify-content: center;
  align-content: center;
  scroll-margin-top: 10rem;
}

.kapitel-titel-container {
  height: 10%;
  padding: 0 30px 0 30px;
  flex-basis: 99%;
  flex-grow: 0;
  flex-shrink: 0;
}

.item {
  display: flex;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 15px rgb(0,0,0,.2);
  align-items: center;
  flex-basis: 35%;
  flex-grow: 2;
  flex-shrink: 0;
}

.item-left {
  flex-direction: column;
}

.item-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bubble {
  position: relative;
  width: 50px;
  height: 50px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 100%;
  background: var(--titelBlau);
}

.bubble-container {
  width: 80%;
  height: 415px;
}

.bubble1 {
  top: 280px;
  left: 40%;
  width: 100px;
  height: 100px;
  background: var(--akzentOrange);
}

.bubble2 {
  top: 230px;
  left: 35%;
  width: 25px;
  height: 25px;
}

.bubble3 {
  top: 210px;
  left: 65%;
  width: 35px;
  height: 35px;
}

.bubble4 {
  top: 190px;
  left: 40%;
  width: 10px;
  height: 10px;
}

.bubble5 {
  top: 140px;
  left: 25%;
  width: 50px;
  height: 50px;
}

.bubble6 {
  top: 80px;
  left: 60%;
  width: 30px;
  height: 30px;
}

.bubble7 {
  top: 0;
  left: 60%;
  width: 20px;
  height: 20px;
}

.bubble8 {
  top: -50px;
  left: 30%;
  width: 60px;
  height: 60px;
}

.bubble9 {
  top: -90px;
  left: 62%;
  width: 55px;
  height: 55px;
}

.bubble10 {
  top: -70px;
  left: 62%;
  width: 10px;
  height: 10px;
}

img.abgerundetes-bild {
  width: 100%;
  height: 415px;
  border-radius: 20px;
  object-fit: contain;
}

.item-right {
  display: flex;
  flex-direction: column;
}

.text-right {
  padding: 10px 20px 0 20px;
  text-align: justify;
}

.text-right ul li {
  margin-top: 10px;
}

.text-left {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  text-align: justify;
}

.maus-outer {
  position: fixed;
  z-index: 999;
  bottom: 10vh;
  display: flex;
  width: 55px;
  height: 55px;
  border-radius: 20px;
  background: var(--akzentOrange);
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, .1);
  justify-content: center;
  align-items: center;
}

.maus {
  z-index: 999;
  width: 17px;
  height: 35px;
  border: 3px solid white;
  border-radius: 30px;
}

.maus::before {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 5px;
  height: 5px;
  content: '';
  transform: translateX(-50%);
  animation: maus 2s infinite;
  opacity: 1;
  border-radius: 50%;
  background: white;
}

@keyframes maus {
  from {
    top: 20%;
    opacity: 1;
  }
  to {
    top: 60%;
    opacity: 0;
  }
}

.maus.hide {
  display: none;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-container {
  z-index: -2;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: white;
}

.body-container {
  padding-right: 20% ;
  padding-left: 20% ;
  background-color: var(--hintergrundWeiss);
}

.demo-gesamt {
  display: flex;
  padding: 0;
  justify-content: stretch;
  align-items: stretch;
  align-content: stretch;
}

.ablauf {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.ablauf .item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  flex-basis: 20%;
  align-content: stretch;
  justify-content: space-between;
}

.ablauf-beschreibung {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
  text-align: center;
  align-content: center;
  justify-content: flex-start;
}
.ablauf-icons {
  font-size: 4em;
  margin-right: 5px;
  margin-left: 5px;
  color: var(--iconsBlau);
}

.ablauf.item p {
  margin-top: .8em;
  margin-bottom: 0;
}

.ablauf-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.icon-wrapper {
  overflow: hidden;
  width: 56px;
  height: 56px;
  margin: auto;
  margin-bottom: 8px;
}

.pfeile-oben {
  display: flex;
  flex-direction: row;
}

.pfeile-unten {
  position: relative;
  left: -58px;
  display: flex;
  flex-direction: row;
}
.pfeil-oben {
  margin-top: -15px;
  margin-right: 0;
  margin-left: 1px;
}

.pfeil-unten {
  margin-top: -40px;
  margin-right: 1px;
  margin-left: 0;
}

.ablauf-code {
  width: 100%;
  margin-top: .8em;
  padding: 15px 0 15px 0;
  color: white;
  border-radius: 0 0 20px 20px;
  background: #666869;
}

.demo-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 20px 0 0 20px;
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: stretch;
}

.trophy-uebung {
  margin-left: 10px;
}

.text-fertig-sortiert {
  font-size: 1.7em;
  display: flex;
  margin-top: 2%;
  opacity: 0;
  color: var(--akzentOrange);
  justify-content: center;
  align-items: start;
}

.demo-animation-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  height: 270px;
  padding: 0 20px 0 20px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.demo-animation {
  display: flex;
  height: 100%;
  margin: 0;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: flex-end;
}

section.demo-animation div {
  display: flex;
  margin: 0 .3rem .3rem;
  padding-top: 15px;
  color: white;
  border-radius: 10px;
  background-color: var(--balkenHellblau);
  flex: 1 1 10%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%;
  justify-content: center;
  align-items: flex-end;
}

.demo-animation {
  flex-basis: 100%;
  flex-shrink: 1;
}

.demo-right {
  color: white;
  border-radius: 0 20px 20px 0;
  background: #1b1b1b;
  flex-basis: 15%;
  flex-grow: 1;
  flex-shrink: 1;
}

.demo-right-title {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px 0 5px 0;
  text-align: center;
  color: white;
  border-radius: 0 20px 0 0;
  background: var(--iconsBlau);
}

.demo-right-title h3 {
  margin: 0;
}

.demo-icons-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.demo-icon {
  height: 50%;
  padding: 10px;
  opacity: 10%;
  flex-basis: 33%;
  flex-grow: 1;
}

.step {
  font-size: 3em;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}

.step-text {
  width: 100%;
  height: 20%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pseudocode {
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-text {
  opacity: 40%;
}

.uebung-animation-container {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 300px;
  padding: 50px 10px 20px 10px;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.uebung-animation {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 8px;
  justify-content: space-evenly;
  align-items: flex-end;
}

section.uebung-animation div {
  font-size: 1.2em;
  display: flex;
  margin: 0 .3rem;
  padding-top: 5px;
  color: white;
  border-radius: 10px;
  background-color: var(--balkenHellblau);
  flex: 1 1 10%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10%;
  justify-content: center;
  align-items: flex-end;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 0 10px 0;
  border-radius: 0 0 0 20px;
  background: var(--iconsBlau);
  justify-content: space-between;
}

.buttons-uebung {
  border-radius: 0 0 20px 20px;
}

.buttons-uebung button:active {
  margin-top: 2px;
  margin-bottom: -2px;
  color: var(--akzentOrange);
  background: white;
}

@media (hover: hover) {
  .buttons-uebung button:hover,
  .buttons button:hover {
    color: var(--akzentOrange);
    background: white;
  }

}

.buttons button:active {
  margin-top: 2px;
  margin-bottom: -2px;
  color: var(--akzentOrange);
  background: white;
}

.uebung-steuerung {
  display: flex;
  padding-left: 40px;
  justify-content: center;
  flex-basis: 80%;
  flex-grow: 1;
}

.next-step {
  width: 120px;
  height: 30px;
  margin-right: 10px;
  color: white;
  border-radius: 20px ;
  background: var(--akzentOrange);
}

.autoplay {
  width: 120px;
  height: 30px;
  margin-left: 10px;
  color: white;
  border-radius: 20px;
  background: var(--akzentOrange);
  justify-self: flex-end;
}

.reload {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: white;
  border-radius: 20px;
  background: var(--akzentOrange);
  justify-self: flex-end;
}

.stop {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-radius: 20px;
  background: var(--akzentOrange);
  justify-self: flex-end;
}

.info-button {
  font-size: 1.25em;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  text-align: center;
  color: white;
  border-radius: 20px;
  background: var(--akzentOrange);
  justify-self: flex-end;
}

.swap {
  font-family: Calibri, sans-serif;
  width: 120px;
  height: 30px;
  margin-right: 10px;
  color: white;
  border-radius: 20px ;
  background: var(--akzentOrange);
}

.dont-swap {
  font-family: Calibri, sans-serif;
  width: 120px;
  height: 30px;
  margin-left: 10px;
  color: white;
  border-radius: 20px;
  background: var(--akzentOrange);
}

#snackbar {
  position: fixed;
  z-index: 999;
  bottom: 25%;
  display: flex;
  visibility: hidden;
  min-width: 250px;
  padding: 16px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #ff6b6b;
  align-self: center;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 1s, fadeout 2.5s 2.5s;
  animation: fadein .5s, fadeout .5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0; opacity: 0;
  }
  to {
    bottom: 25%; opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0; opacity: 0;
  }
  to {
    bottom: 25%; opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 25%; opacity: 1;
  }
  to {
    bottom: 0; opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 25%; opacity: 1;
  }
  to {
    bottom: 0; opacity: 0;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  color: white;
  background: #555;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer p {
  display: flex;
  text-align: center;
  align-items: center;
}

.uebung-container {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.vergleiche-bild {
  object-fit: contain;
}

.vorteil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nachteil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-title {
  width: 100%;
  margin: 0;
  text-align: center;
  color: white;
  border-radius: 20px 20px 0 0;
  background: var(--iconsBlau);
}

.nachteil-title {
  background: #ff6b6b;
}

.vorteil-title {
  background: #87c38f;
}

.infokasten {
  position: fixed;
  z-index: 89999;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 90%;
  background: #111;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: justify;
  border-radius: 20px;
  background: white;
  box-shadow: 2px 2px 15px rgb(0,0,0,1);
  justify-content: flex-start;
}

.info-text {
  padding: 30px;
}

.info-title {
  display: flex;
  height: 30px;
  color: #222;
  background: var(--akzentOrange);
  justify-content: center;
  align-items: center;
}

.info-popup {
  display: none;
}

.showInfo {
  display: flex;
}

.upPorter {
  font-size: 2.5em;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  width: 70px;
  height: 60px;
  padding-top: 10px;
  text-decoration: none;
  opacity: 0;
  color: white;
  border-radius: 20%;
  background: var(--akzentOrange);
  justify-content: center;
  align-items: center;
}

.upPorter:hover {
  color: var(--akzentOrange);
  background: white;
}

/* Für Tablets */
@media only screen and (max-width: 1183px) {
  .item {
    width: 100%;
    flex-basis: 100%;
  }

  .title {
    width: 50vw;
  }

  .header-inside {
    width: 90%;
  }

  .title-gradient {
    height: 400px;
  }

  .logo-text {
    font-size: .6em;
    padding: 0 10px 0 10px;
  }

  .body-container {
    padding-right: 5%;
    padding-left: 5%;
  }

  .next-step {
    width: 90px;
    height: 50px;
  }

  .autoplay {
    width: 90px;
    height: 50px;
  }

  .swap {
    width: 90px;
    height: 50px;
    margin-left: 10px;
  }

  .dont-swap {
    width: 90px;
    height: 50px;
    margin-right: 10px;
  }

  .ablauf .item {
    flex-basis: 45%;
    flex-grow: 1;
  }

  .upPorter {
    right: 10px;
    bottom: 10px;
  }
}
/* Für Smartphones: */
@media only screen and (max-width: 700px) {
  .item {
    width: 100%;
    flex-basis: 100%;
  }

  .body-container {
    padding-right: 5%;
    padding-left: 5%;
  }

  .header-inside {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .title {
    width: 100vw;
  }

  .logo-text {
    font-size: .6em;
    padding: 0 10px 0 10px;
  }

  .header {
    height: 8%;
  }

  .navigation {
    display: none;
  }

  .burger {
    display: flex;
  }

  .header-left {
    padding-left: 25px;
  }

  .header-right {
    display: flex;
  }

  .demo-gesamt {
    height: auto;
    flex-wrap: wrap;
  }

  .demo-animation-container {
    height: 60%;
    padding: 60px 5px 0 5px;
  }

  .demo-left {
    height: 400px;
    border-radius: 20px 20px 0 0;
    flex-basis: 100%;
  }

  .demo-right {
    border-radius: 0 0 20px 20px;
    flex-basis: 100%;
  }

  .demo-right-title {
    border: none;
    border-radius: 0;
  }

  .uebung-steuerung {
    padding-left: 0;
  }

  .next-step {
    width: 90px;
    height: 50px;
  }

  .autoplay {
    width: 90px;
    height: 50px;
  }

  .uebung-animation-container {
    width: 95%;
    padding: 50px 0 10px 0;
  }

  .swap {
    width: 90px;
    height: 50px;
    margin-left: 10px;
  }

  .dont-swap {
    width: 90px;
    height: 50px;
    margin-right: 10px;
  }

  .buttons {
    border-radius: 0;
  }

  .ablauf {
    width: 100%;
  }

  .ablauf .item{
    width: 100%;
    flex-basis: 100%;
  }

  .upPorter {
    width: 50px;
    height: 40px;
  }

  .info-button,
  .reload,
  .stop {
    width: 50px;
    height: 50px;
  }
}